.suggestion-form-card {
}

.suggestion-form-input {
    width: 100%;
    font-size: 28px;
    line-height: 46px;
    font-weight: 400;
}

.suggestion-submit-button {
    align-items: flex-end;
}